.about-us {
  padding-left: 5%;
  padding-right: 5%;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-us .banner img {
  margin-bottom: 20px;
}

.about-us .collapse {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
    .about-us .banner img {
        min-height: 200px;
    }
}
